//HOJA DE ESTILOS PRINCIPAL. ACÁ SE IMPORTAN LOS PARTIALS.
/*GOOGLE FONTS.
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&family=Open+Sans:wght@300;400;500&family=Roboto+Condensed&display=swap')
@import variables

/* ESTILOS GENERALES
*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    scroll-behavior: smooth
    &::selection
            background: $backcolor2
            color: $textcolor2
    body 
        background: radial-gradient(white,#eef6ee)
        font-family: $txt__p

        a
            text-decoration: none

//PARTIALS HEADER Y LAYOUT
@import header
@import layout

/* PARTIAL DEL MAIN
@import content

//PARTIAL DEL BOOTSTRAP
@import bs

//PARTIAL DEL FORMULARIO
@import form

/* BOTÓN SCROLL UP
#btn-back-to-top 
    position: fixed
    bottom: 20px
    right: 20px
    width: 55px
    height: 30px
    display: none
    outline: 1px solid #999
    &:hover
    background-color: $backcolor2
    @media screen and (max-width: $m_screen )
        visibility: hidden

//PARTIAL DEL FOOTER
@import footer
